决策树回归的自变量可以包括数值型和分类类型。

读取"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data\mergeResult\housing_hasId_accessibility.csv"，将property_type和borough列进行标签编码后，把编码的列加入features = ['bedrooms', 'bathrooms', 'size_square_meters', 
            'AccommodationAccess15m', 'AirportsAccess15m',
            'Culture and tourismAccess15m', 'Eating and drinkingAccess15m',
            'EducationAccess15m', 'EntertainmentAccess15m', 'HealthAccess15m',
            'Infrastructure and facilitiesAccess15m',
            'Manufacturing and productionAccess15m', 'OfficeAccess15m',
            'Public transportAccess15m', 'Road and railAccess15m',
            'ServiceAccess15m', 'ShoppingAccess15m', 'Water transportAccess15m']作为自变量，因变量是Price_per_square_meter列，做决策树回归。

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# 读取CSV文件
file_path = r"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data\mergeResult\housing_hasId_accessibility.csv"
data = pd.read_csv(file_path)

# 提取自变量和因变量
features = ['bedrooms', 'bathrooms', 'size_square_meters', 
            'AccommodationAccess15m', 'AirportsAccess15m',
            'Culture and tourismAccess15m', 'Eating and drinkingAccess15m',
            'EducationAccess15m', 'EntertainmentAccess15m', 'HealthAccess15m',
            'Infrastructure and facilitiesAccess15m',
            'Manufacturing and productionAccess15m', 'OfficeAccess15m',
            'Public transportAccess15m', 'Road and railAccess15m',
            'ServiceAccess15m', 'ShoppingAccess15m', 'Water transportAccess15m']
target = 'Price_per_square_meter'

X = data[features]
y = data[target]

# 对property_type和borough列进行标签编码
label_encoder = LabelEncoder()
X['property_type_encoded'] = label_encoder.fit_transform(data['property_type'])
X['borough_encoded'] = label_encoder.fit_transform(data['borough'])
X

C:\Users\84398\AppData\Local\Temp\ipykernel_13716\1234828704.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['property_type_encoded'] = label_encoder.fit_transform(data['property_type'])
C:\Users\84398\AppData\Local\Temp\ipykernel_13716\1234828704.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['borough_encoded'] = label_encoder.fit_transform(data['borough'])

,bedrooms,bathrooms,size_square_meters,AccommodationAccess15m,AirportsAccess15m,Culture and tourismAccess15m,Eating and drinkingAccess15m,EducationAccess15m,EntertainmentAccess15m,HealthAccess15m,Infrastructure and facilitiesAccess15m,Manufacturing and productionAccess15m,OfficeAccess15m,Public transportAccess15m,Road and railAccess15m,ServiceAccess15m,ShoppingAccess15m,Water transportAccess15m,property_type_encoded,borough_encoded
0,5,2,212,0,0,1,141,9,11,21,26,8,4,41,14,187,59,0,8,0
1,3,1,107,0,0,8,98,10,21,30,81,8,10,63,12,143,36,0,20,0
2,3,1,82,0,0,2,23,3,2,5,19,0,1,14,4,36,3,1,23,0
3,3,1,73,1,0,1,49,7,3,15,51,4,2,33,5,72,12,1,23,0
4,2,1,85,0,0,2,10,5,4,10,31,1,5,7,2,27,4,0,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,2,2,131,10,0,56,133,16,19,47,54,13,26,49,11,235,246,0,0,32
3970,3,2,190,168,0,188,1043,80,116,218,283,139,83,199,48,2139,811,0,9,32
3971,1,1,52,123,0,46,262,19,20,49,81,18,25,58,17,373,58,2,9,32
3972,3,2,106,130,0,84,500,32,43,84,140,51,34,123,32,718,225,6,17,32
3973,1,1,46,108,0,125,695,94,90,189,254,67,59,191,57,1124,220,10,0,32

In [3]:



# 划分训练集和测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 执行决策树回归
decision_tree_model = DecisionTreeRegressor(random_state=42)
decision_tree_model.fit(X_train, y_train)

# 预测
y_pred = decision_tree_model.predict(X_test)

# 评估模型
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 18918811.51743738
R-squared: 0.408005844606637

对于分类变量，由于在决策树回归中，字符串类型的特征无法直接用于建模，因为决策树回归算法处理的是数值型数据。

解决这个问题的方法是对字符串类型的特征进行预处理，将其转换为数值型数据，以便决策树回归算法能够处理它们。常见的方法是使用独热编码（One-Hot Encoding）或者标签编码（Label Encoding）。

如果特征只有两个类别，可以使用标签编码，将其转换为0和1。如果特征有多个类别，可以使用独热编码，将每个类别转换为一个独立的二进制特征。

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# 读取CSV文件
file_path = r"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data\mergeResult\housing_hasId_accessibility.csv"
data = pd.read_csv(file_path)

# 提取自变量和因变量
features = ['bedrooms', 'bathrooms', 'size_square_meters', 
            'AccommodationAccess15m', 'AirportsAccess15m',
            'Culture and tourismAccess15m', 'Eating and drinkingAccess15m',
            'EducationAccess15m', 'EntertainmentAccess15m', 'HealthAccess15m',
            'Infrastructure and facilitiesAccess15m',
            'Manufacturing and productionAccess15m', 'OfficeAccess15m',
            'Public transportAccess15m', 'Road and railAccess15m',
            'ServiceAccess15m', 'ShoppingAccess15m', 'Water transportAccess15m',
            'property_type', 'borough']  # 包含了分类变量

target = 'Price_per_square_meter'

X = data[features]
y = data[target]

# 使用独热编码将分类变量转换为数值型特征
X = pd.get_dummies(X, columns=['property_type', 'borough'])
df_onehot = X

# 划分训练集和测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 执行决策树回归
decision_tree_model = DecisionTreeRegressor(random_state=42)
decision_tree_model.fit(X_train, y_train)

# 预测
y_pred = decision_tree_model.predict(X_test)

# 评估模型
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 14785632.721441858
R-squared: 0.5373383710272267

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# 定义决策树回归模型，并设置超参数的可能取值范围
tree_reg = DecisionTreeRegressor()
param_grid = {'max_depth': list(range(20,30)),
    'min_samples_split': list(range(1,8)),
    'min_samples_leaf': list(range(1, 6))}

# 使用GridSearchCV函数进行网格搜索
tree_reg_cv = GridSearchCV(tree_reg, param_grid, cv=5, scoring='neg_mean_squared_error')
tree_reg_cv.fit(X_train, y_train)


# 获取最佳模型和参数，并使用训练集和测试集对模型进行评估
best_tree_reg = tree_reg_cv.best_estimator_
print("最佳模型:", best_tree_reg)


# 在训练集上评估模型表现
y_train_pred = best_tree_reg.predict(X_train)
mse_train = mean_squared_error(y_train, y_train_pred)
rmse_train = np.sqrt(mse_train)
print("训练集MSE:", mse_train)
print("训练集RMSE:", rmse_train)

# 在训练集上使用模型进行预测，并计算R平方作为模型的评价指标。
y_pred = best_tree_reg.predict(X_train)
r2_train = r2_score(y_train, y_pred)
print("训练集R平方:", r2_train)

# 在测试集上评估模型表现
y_test_pred = best_tree_reg.predict(X_test)
mse = mean_squared_error(y_test, y_test_pred)
rmse = np.sqrt(mse)
print("测试集MSE:", mse)
print("测试集RMSE:", rmse)


# 在测试集上使用模型进行预测，并计算R平方作为模型的评价指标。
y_pred = best_tree_reg.predict(X_test)
r2_test = r2_score(y_test, y_pred)
print("测试集R平方:", r2_test)

最佳模型: DecisionTreeRegressor(max_depth=22, min_samples_leaf=5, min_samples_split=3)
训练集MSE: 5273176.8894674415
训练集RMSE: 2296.339889795812
训练集R平方: 0.8322946078372371
测试集MSE: 16238016.212036997
测试集RMSE: 4029.642194046141
测试集R平方: 0.49189140745714943

d:\programs\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
250 fits failed out of a total of 1750.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
250 fits failed with the following error:
Traceback (most recent call last):
  File "d:\programs\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\programs\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1247, in fit
    super().fit(
  File "d:\programs\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 177, in fit
    self._validate_params()
  File "d:\programs\anaconda3\lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "d:\programs\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of DecisionTreeRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\programs\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [               nan -24000568.57056192 -22803201.31510475
 -23245868.15296473 -22523811.43192856 -22044180.01498022
 -22979388.75059018                nan -20798530.60989393
 -21515403.53652683 -20830834.743226   -20508546.28454895
 -19916700.67865934 -20534858.26380432                nan
 -19128110.44342677 -19444692.01805178 -19401291.68349432
 -19216681.58499699 -19148822.66115395 -19249026.15901724
                nan -18495615.1915079  -18510783.31361983
 -18362037.06083563 -18580197.36802521 -18597596.12350342
 -18652969.89914657                nan -17647866.19158666
 -17630592.8168812  -17596894.39903699 -17656736.43388073
 -17627179.70706264 -17609676.60099194                nan
 -23143449.505226   -23979214.11078166 -22347654.10695275
 -23120594.22359376 -22460107.43813755 -22393303.51912181
                nan -20356412.12076121 -20105039.68782724
 -20959859.11018309 -20188376.53857834 -20403526.11379791
 -19334039.9751083                 nan -19292237.70741562
 -19601507.80671609 -19361886.34042649 -19226209.03862824
 -19523814.8709592  -19479522.40605025                nan
 -18667403.76509539 -18582837.20187114 -18471012.74110105
 -18451892.50899474 -18598486.91178694 -18427472.98171217
                nan -17706429.35685886 -17616154.07300433
 -17701456.97220309 -17739803.03629595 -17746388.72001842
 -17680879.61618288                nan -24088831.19409516
 -23717369.84592516 -23549457.35506114 -22797535.10479205
 -23083678.85294244 -21895497.09342135                nan
 -21428771.66974487 -20292536.09572753 -20865631.29817695
 -20533312.85051148 -19618195.92799815 -20002659.27633558
                nan -19251829.65334956 -19354574.96699751
 -19031785.87543123 -19276043.63210547 -19748241.46247517
 -18877078.02620656                nan -18518364.34033738
 -18564232.05321502 -18554950.28948346 -18405309.93286864
 -18659256.45242508 -18569704.51499571                nan
 -17693525.50200748 -17565007.06711805 -17764200.91607919
 -17750217.49291066 -17690459.51200329 -17661049.26305566
                nan -24182537.50711298 -23424617.37771425
 -23235446.33101094 -23125082.87717478 -22879435.77456803
 -23084323.12046577                nan -21421870.65159966
 -19924153.26493695 -21197982.77210613 -19452333.12649442
 -19902519.13293173 -20191548.59335665                nan
 -19391328.14176118 -19589111.21869833 -19229376.37819485
 -19271702.84474514 -19398874.22529136 -19218160.15444308
                nan -18553324.66204253 -18559717.15745622
 -18641601.61386786 -18436459.991025   -18503708.5657692
 -18512539.0625407                 nan -17670430.94629823
 -17634334.11829473 -17674840.61211246 -17666815.03400278
 -17700998.299913   -17652226.46609731                nan
 -24415306.98088508 -23295559.57470383 -23220160.8415999
 -23098019.01900221 -22240257.28894837 -22749787.08662903
                nan -21503595.28477653 -20365400.35587681
 -20861069.55012232 -20576463.42844553 -20235163.72159703
 -19405686.28745946                nan -19521178.28056399
 -19224224.74492828 -19528473.69336255 -19541331.73717284
 -19673093.23960518 -19364228.95548067                nan
 -18570489.95366526 -18532893.52690058 -18347020.93616651
 -18494928.46845376 -18625691.14069954 -18494569.10643425
                nan -17720491.09922233 -17665450.730749
 -17665437.32908855 -17726454.92668727 -17712473.21445496
 -17633792.20508241                nan -24766889.05139685
 -23782237.82850444 -23493218.52883809 -23452878.99974032
 -23410089.00526022 -23111741.360846                  nan
 -20845797.90977365 -20582841.0927309  -20369969.82648009
 -20703856.02533942 -20383912.44944766 -20011816.20073579
                nan -19615129.09033654 -19529828.52775725
 -19422770.30540849 -19463511.16582609 -19108769.1729669
 -19103237.05642491                nan -18523924.96282208
 -18557312.14679777 -18544945.36673746 -18608586.37241019
 -18490012.31996461 -18508230.68609885                nan
 -17684706.77981992 -17696474.68439686 -17642651.72382968
 -17674667.89699101 -17696021.98321351 -17667057.3102623
                nan -23153484.43984243 -22714555.93863545
 -23127014.38675806 -23136424.56972001 -22709408.24915091
 -22446915.14746437                nan -21073857.12340181
 -19885407.62098575 -20332949.7690616  -20430223.29778945
 -20383130.15786721 -20717061.43182551                nan
 -19516878.60973442 -19303962.37061531 -19292106.91236883
 -19794928.3182421  -19727382.51937617 -19206886.83579153
                nan -18574863.8022259  -18502811.5676895
 -18618162.8400685  -18619604.09580519 -18467875.94104375
 -18373094.14511628                nan -17606978.3050398
 -17701231.59428628 -17660193.74045425 -17659409.1686027
 -17630017.11526287 -17685217.4664674                 nan
 -24197991.51833644 -23459351.86293311 -23292785.2671242
 -23279539.8209152  -22874839.0581472  -23083492.99475464
                nan -20014596.60148659 -21539978.5124406
 -21256687.28973327 -20528635.3166113  -20285036.62555432
 -20205417.49250346                nan -19356127.42370717
 -19607327.89823508 -19443608.67606816 -19064594.00056829
 -19284425.19207251 -19381485.02665675                nan
 -18537830.65623545 -18607616.18258834 -18423215.91259744
 -18490812.60933546 -18560463.22984623 -18419941.96195821
                nan -17657467.30788899 -17672838.56624124
 -17725338.46163433 -17691970.03280666 -17688373.11774778
 -17635685.44182238                nan -23414484.83729281
 -24084905.68675675 -22653965.52116424 -22781277.41583161
 -22828593.31429973 -22494813.44678799                nan
 -21847444.32951098 -20647248.85769625 -20322799.22700923
 -19629621.15040795 -20032474.39019554 -19539723.22463023
                nan -19499081.89132189 -19307823.77362282
 -19174588.28283412 -19569969.87788734 -19563563.38823185
 -19223704.04258835                nan -18534201.70132174
 -18533553.38531379 -18595994.53898264 -18370400.53455063
 -18534641.31683952 -18518611.13182872                nan
 -17610398.76737624 -17613008.51026494 -17683536.61700016
 -17652510.48128758 -17707763.12702887 -17688322.98558101
                nan -23763166.68325403 -23660772.71913131
 -22936805.7728407  -22023767.24589413 -22721167.16122849
 -22901148.55393098                nan -21200568.75600006
 -21253359.06184358 -20551135.55214405 -20397125.8923725
 -20720803.39668969 -19536479.5935471                 nan
 -19191528.19667798 -19594957.2558138  -19608890.44608115
 -19019037.81511952 -19667307.23276119 -18986827.81920206
                nan -18507363.3888231  -18550525.09560253
 -18629077.73661908 -18468899.02471894 -18564822.06858457
 -18642525.22457524                nan -17672680.05539622
 -17577986.1140966  -17671946.79125649 -17717183.27062323
 -17695844.22008445 -17669648.30749463]
  warnings.warn(

最佳模型: DecisionTreeRegressor(max_depth=22, min_samples_leaf=5, min_samples_split=3)

训练集MSE: 5273176.8894674415
训练集RMSE: 2296.339889795812
训练集R平方: 0.8322946078372371

测试集MSE: 16238016.212036997
测试集RMSE: 4029.642194046141
测试集R平方: 0.49189140745714943

在相关性分析中，我们通常将相关系数的绝对值大小来判断变量之间的相关程度。相关系数的取值范围在-1到1之间，表示了变量之间的线性关系强度和方向。

当相关系数为1时，表示两个变量完全正相关，意味着它们之间存在着完全的线性正相关关系。这种情况下，一个变量的增加将导致另一个变量的增加，并且变量之间的散点图呈现完全的上升趋势。

当相关系数为-1时，表示两个变量完全负相关，意味着它们之间存在着完全的线性负相关关系。这种情况下，一个变量的增加将导致另一个变量的减少，并且变量之间的散点图呈现完全的下降趋势。

当相关系数接近0时，表示两个变量之间没有线性相关关系，它们之间的散点图没有明显的趋势，或者说它们之间的线性关系非常弱。

根据您提供的相关系数结果，可以观察到以下情况：

'Price_per_square_meter' 与 'borough_Kensington and Chelsea' 之间的相关系数约为 0.54，表示这两个变量之间存在一定程度的正相关关系。

'Price_per_square_meter' 与 'ShoppingAccess15m' 之间的相关系数约为 0.45，也表示这两个变量之间存在一定程度的正相关关系。

'Price_per_square_meter' 与其他变量的相关系数较小（绝对值接近于0），意味着它们之间的线性相关关系较弱或者基本没有线性相关。

In [18]:
# 假设 df_onehot 是经过独热编码后的数据集
# 假设 data 是原始数据集，包含 'Price_per_square_meter' 列

# 提取目标变量 'Price_per_square_meter' 列的数据
target_column = 'Price_per_square_meter'
target_data = data[target_column]

# 将目标变量数据添加为一列到 df_onehot 数据集中
df_onehot[target_column] = target_data

# 现在 df_onehot 中包含了 'Price_per_square_meter' 列
df_onehot

,bedrooms,bathrooms,size_square_meters,AccommodationAccess15m,AirportsAccess15m,Culture and tourismAccess15m,Eating and drinkingAccess15m,EducationAccess15m,EntertainmentAccess15m,HealthAccess15m,...,borough_Newham,borough_Redbridge,borough_Richmond upon Thames,borough_Southwark,borough_Sutton,borough_Tower Hamlets,borough_Waltham Forest,borough_Wandsworth,borough_Westminster,Price_per_square_meter
0,5,2,212,0,0,1,141,9,11,21,...,False,False,False,False,False,False,False,False,False,6132.075472
1,3,1,107,0,0,8,98,10,21,30,...,False,False,False,False,False,False,False,False,False,4906.542056
2,3,1,82,0,0,2,23,3,2,5,...,False,False,False,False,False,False,False,False,False,5487.804878
3,3,1,73,1,0,1,49,7,3,15,...,False,False,False,False,False,False,False,False,False,5479.452055
4,2,1,85,0,0,2,10,5,4,10,...,False,False,False,False,False,False,False,False,False,5294.117647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,2,2,131,10,0,56,133,16,19,47,...,False,False,False,False,False,False,False,False,True,27862.595420
3970,3,2,190,168,0,188,1043,80,116,218,...,False,False,False,False,False,False,False,False,True,13157.894737
3971,1,1,52,123,0,46,262,19,20,49,...,False,False,False,False,False,False,False,False,True,12019.230769
3972,3,2,106,130,0,84,500,32,43,84,...,False,False,False,False,False,False,False,False,True,16929.245283
3973,1,1,46,108,0,125,695,94,90,189,...,False,False,False,False,False,False,False,False,True,12500.000000

In [23]:


# 假设 df_onehot 是经过独热编码后的数据集
# 计算相关系数矩阵
correlation_matrix = df_onehot.corr()

# 相关系数矩阵是一个对称矩阵，我们可以通过查看每对变量的相关系数来进行分析
# 例如，查看某一列变量与其他变量的相关系数
target_column = 'Price_per_square_meter'
correlations_with_target = correlation_matrix[target_column].sort_values(ascending=False)

pd.set_option('display.max_rows', None) 

print("与目标变量相关性排名：")
print(correlations_with_target)

pd.set_option('display.max_rows', 10)

与目标变量相关性排名：
Price_per_square_meter                        1.000000
borough_Kensington and Chelsea                0.544359
ShoppingAccess15m                             0.450547
Culture and tourismAccess15m                  0.449064
AccommodationAccess15m                        0.430802
HealthAccess15m                               0.388329
OfficeAccess15m                               0.361803
Eating and drinkingAccess15m                  0.348315
ServiceAccess15m                              0.338443
EntertainmentAccess15m                        0.320798
Infrastructure and facilitiesAccess15m        0.302787
EducationAccess15m                            0.301605
Manufacturing and productionAccess15m         0.291607
Public transportAccess15m                     0.291021
borough_Westminster                           0.287409
bathrooms                                     0.263210
property_type_Apartment                       0.183442
Road and railAccess15m                        0.177407
size_square_meters                            0.175923
property_type_Penthouse                       0.136328
borough_Camden                                0.128912
property_type_Flat                            0.103799
Water transportAccess15m                      0.100398
property_type_Mews                            0.081841
borough_Hackney                               0.070794
borough_Hammersmith and Fulham                0.068370
borough_Lambeth                               0.065576
property_type_Block of Apartments             0.065161
borough_Wandsworth                            0.062207
borough_City of London                        0.058682
property_type_Town House                      0.045372
AirportsAccess15m                             0.036232
borough_Islington                             0.029242
borough_Tower Hamlets                         0.022892
borough_Southwark                             0.017900
property_type_Serviced Apartments             0.008319
property_type_Cottage                        -0.001836
property_type_Ground Maisonette              -0.003431
borough_Richmond upon Thames                 -0.004055
property_type_Character Property             -0.004348
property_type_Duplex                         -0.007023
property_type_House Boat                     -0.008066
property_type_House                          -0.008086
property_type_Maisonette                     -0.009206
property_type_Ground Flat                    -0.014323
property_type_Bungalow                       -0.020261
property_type_House of Multiple Occupation   -0.020621
property_type_Detached Bungalow              -0.020977
property_type_Link Detached House            -0.024640
bedrooms                                     -0.030665
property_type_Semi-Detached Bungalow         -0.031776
property_type_Retirement Property            -0.033735
borough_Barnet                               -0.042316
borough_Haringey                             -0.043237
borough_Havering                             -0.054707
borough_Ealing                               -0.054806
borough_Merton                               -0.061136
borough_Bromley                              -0.066147
borough_Hillingdon                           -0.066681
borough_Lewisham                             -0.076103
property_type_End of Terrace                 -0.076130
borough_Brent                                -0.081920
borough_Kingston upon Thames                 -0.082500
borough_Barking and Dagenham                 -0.083426
property_type_Detached                       -0.089283
borough_Newham                               -0.089613
borough_Croydon                              -0.091030
borough_Greenwich                            -0.094534
property_type_Terraced                       -0.096185
borough_Hounslow                             -0.101274
borough_Redbridge                            -0.105821
borough_Bexley                               -0.106131
borough_Sutton                               -0.110784
borough_Enfield                              -0.113049
borough_Harrow                               -0.113884
borough_Waltham Forest                       -0.138927
property_type_Semi-Detached                  -0.175826
Name: Price_per_square_meter, dtype: float64