把文件"D:\POI data\london\Download_london_first_poi_csv_2292170\poi_5097912\poi-extract-2023_06.csv"用python进行清洗，feature_easting列是503981，feature_northing是171769。将这两列转化为对应的经纬度作为新列

In [4]:
from pyproj import Proj, transform
import pandas as pd
import pyproj
# 定义转换函数
def convert_to_lat_lng(row):
    easting = row['feature_easting']
    northing = row['feature_northing']
    
    # 定义转换器
    transformer = pyproj.Transformer.from_crs('epsg:27700', 'epsg:4326', always_xy=True)
    
    # 执行转换
    longitude, latitude = transformer.transform(easting, northing)
    return latitude, longitude

# 读取CSV文件
file_path = r"D:\POI data\london\Download_london_accomodation_csv_2292171\poi_5097913\poi-extract-2023_06.csv"
df = pd.read_csv(file_path)

# 创建新列"latitude"和"longitude"，并应用转换函数
df[['latitude', 'longitude']] = df.apply(convert_to_lat_lng, axis=1, result_type='expand')

# 打印结果
df

# 保存到新的 CSV 文件
df.to_csv(r"D:\s-casa毕业论文-工程\R5R_TEST1_london\poi_accomodation", index=False)

PermissionError: [Errno 13] Permission denied: 'D:\\s-casa毕业论文-工程\\R5R_TEST1_london\\poi_accomodation'

In [5]:
df

,ref_no,name,pointx_class,feature_easting,feature_northing,pos_accuracy,uprn,topo_toid,topo_toid_version,usrn,...,admin_boundary,telephone_number,url,brand,qualifier_type,qualifier_data,provenance,supply_date,latitude,longitude
0,18857214,Welcome Break (London Gateway),1020043.0,520246.0,193914.0,1.0,NaN,osgb1000003646311,3.0,20030684.0,...,Barnet London Boro,NaN,www.welcomebreak.co.uk,Welcome Break,Restaurant Type,Roadside,Welcome Break Group Ltd,2023/6/1,51.631197,-0.264061
1,19521779,Heston East Service Area,1020043.0,512027.0,177854.0,1.0,2.000000e+11,osgb1000041290382,4.0,21519749.0,...,Hounslow London Boro,NaN,www.moto-way.com,Moto Hospitality Limited,Restaurant Type,Roadside,Moto,2023/6/1,51.488548,-0.387870
2,19521780,Heston West Service Area,1020043.0,511446.0,177847.0,1.0,2.000000e+11,osgb1000002669312,4.0,21530004.0,...,Hounslow London Boro,NaN,www.moto-way.com,Moto Hospitality Limited,Restaurant Type,Roadside,Moto,2023/6/1,51.488599,-0.396237
3,170748210,Cobham Extra,1020043.0,511221.0,157334.0,1.0,NaN,osgb5000005105300479,2.0,83501003.0,...,Elmbridge District,NaN,www.moto-way.com,Moto Hospitality Limited,Restaurant Type,Roadside,Moto,2023/6/1,51.304270,-0.405898
4,110623511,Fitzroy House,1020012.0,529194.0,182039.0,1.0,5.088512e+06,osgb1000005430764,3.0,20400936.0,...,Camden London Boro,NaN,www.historichouses.org/houses,NaN,NaN,NaN,Historic Houses Association,2023/6/1,51.522499,-0.139214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38781,169483729,Yamas,1020018.0,523181.0,187889.0,1.0,2.002221e+08,osgb1000003933391,11.0,20034920.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.576416,-0.223792
38782,169483773,Swirkies,1020018.0,525533.0,181169.0,1.0,1.000000e+11,osgb1000042156140,4.0,8400743.0,...,City of Westminster London Boro,NaN,NaN,NaN,NaN,NaN,Local Data Company,2023/6/1,51.515506,-0.192264
38783,169483786,Oliver's Steakhouse,1020034.0,526766.0,181231.0,1.0,1.000000e+11,osgb1000042175292,3.0,8400848.0,...,City of Westminster London Boro,NaN,NaN,NaN,NaN,NaN,Local Data Company,2023/6/1,51.515788,-0.174481
38784,169483796,The Greek Souvlaki,1020043.0,503333.0,171539.0,1.0,3.303640e+07,osgb1000008228703,5.0,37200213.0,...,Spelthorne District,NaN,NaN,NaN,Restaurant Type,Greek Restaurant,Local Data Company,2023/6/1,51.433439,-0.514886
38785,168875346,Black Bear Burger,1020034.0,531164.0,175360.0,1.0,1.009020e+10,osgb1000005716151,5.0,21900507.0,...,Lambeth London Boro,NaN,NaN,NaN,NaN,NaN,Local Data Company,2023/6/1,51.462024,-0.113315

In [7]:

# 保存到新的 CSV 文件
df.to_csv(r"D:\s-casa毕业论文-工程\R5R_TEST1_london\poi_accomodation\poi_accomodation.csv", index=False)

In [13]:

save_file_path = "D:\POI data\london_poi.csv"


# 将处理后的DataFrame写入原始的CSV文件
df.to_csv(save_file_path, index=False)

C:\Users\84398\AppData\Local\Temp\ipykernel_1128\932773102.py:5: DtypeWarning: Columns (13,14,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

转换全部的poi经纬度，成功

In [12]:
from pyproj import Proj, transform

# 定义两个坐标系统，British National Grid和WGS84
osgb36 = Proj("+init=EPSG:27700")  # British National Grid
wgs84 = Proj("+init=EPSG:4326")  # WGS84

# 你的坐标
x1, y1 = 520246.0, 193914.0

# 转换坐标
lon, lat = transform(osgb36, wgs84, x1, y1)

print('转换后的经纬度为: ', lon, lat)

转换后的经纬度为:  -0.2640611081936553 51.6311967247037

d:\programs\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
d:\programs\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\84398\AppData\Local\Temp\ipykernel_1128\1305041916.py:11: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  lon, lat = transform(osgb36, wgs84, x1, y1)

In [3]:
from pyproj import Proj, transform
import pandas as pd
import pyproj
# 定义转换函数
def convert_to_lat_lng(row):
    easting = row['feature_easting']
    northing = row['feature_northing']
    
    # 定义转换器
    transformer = pyproj.Transformer.from_crs('epsg:27700', 'epsg:4326', always_xy=True)
    
    # 执行转换
    longitude, latitude = transformer.transform(easting, northing)
    return latitude, longitude

# 读取CSV文件
file_path = r"D:\POI data\london\Download_london_first_poi_csv_2292170\poi_5097912\poi-extract-2023_06.csv"
df = pd.read_csv(file_path)

# 创建新列"latitude"和"longitude"，并应用转换函数
df[['latitude', 'longitude']] = df.apply(convert_to_lat_lng, axis=1, result_type='expand')

# 打印结果
df

# 保存到新的 CSV 文件
df.to_csv(r"D:\POI data\london\Converted_coordinates.csv", index=False)

C:\Users\84398\AppData\Local\Temp\ipykernel_8000\3303943751.py:18: DtypeWarning: Columns (13,14,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)